/*
  An external CSS stylesheet 
*/

h1{
	text-decoration: underline;
	font-size: 50px;
}
a {
	
	text-decoration: none;
}

a:HOVER {
	text-decoration: underline;
	color: red;
	background-color: #ccffcc
}

li em{
	color: red;
	font-weight: bold;
	background-color: #ffffff
}

ul{
	margin-left: 2cm
}

ul ul{
	text-decoration: underline;
	margin-left: 0.5cm;
	 color: pink;
	
}
